
script.

  var exerciseArr = [];
  for (var i=0; i<42; i++)
  {
    exerciseArr.push(L.circle([stats[i].lat, stats[i].long], dataVisualize(stats[i].exercise) , { 
      color: 'red', 
      fillColor: '#f03', 
      fillOpacity: 0.5 })
      .bindPopup(stats[i].SRA + "<br>" + stats[i].exercise + "% Exercise" ));
  }
  var exerciseLayer=L.layerGroup(exerciseArr);

  var dietArr = [];
  for (var i=0; i<42; i++)
  {
    dietArr.push(L.circle([stats[i].lat, stats[i].long], dataVisualize(stats[i].diet) , {
      color: 'blue',
      fillColor: 'blue',
      fillOpacity: 0.5 })
      .bindPopup(stats[i].SRA + "<br>" + stats[i].diet + "% Diet" ));
  }
  var dietLayer=L.layerGroup(dietArr);

  var smokeArr = [];
  for (var i=0; i<42; i++)
  {
    smokeArr.push(L.circle([stats[i].lat, stats[i].long], dataVisualize(stats[i].smoke) , {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5 })
      .bindPopup(stats[i].SRA + "<br>" + stats[i].exercise + "% Exercise" ));

  }
  var smokeLayer=L.layerGroup(smokeArr);

  var overweightArr = [];
  for (var i=0; i<42; i++)
  {
    overweightArr.push(L.circle([stats[i].lat, stats[i].long], dataVisualize(stats[i].overweight) , {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5 })
      .bindPopup(stats[i].SRA + "<br>" + stats[i].exercise + "% Exercise" ));

  }
  var overweightLayer=L.layerGroup(overweightArr);

  var fastfoodArr = [];
  for (var i=0; i<42; i++)
  {
    fastfoodArr.push(L.circle([stats[i].lat, stats[i].long], dataVisualize(stats[i].fastfood) , {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5 })
      .bindPopup(stats[i].SRA + "<br>" + stats[i].exercise + "% Exercise" ));

  }
  var fastfoodLayer=L.layerGroup(fastfoodArr);

  var fruitsArr = [];
  for (var i=0; i<42; i++)
  {
    fruitsArr.push(L.circle([stats[i].lat, stats[i].long], dataVisualize(stats[i].fruits) , {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5 })
      .bindPopup(stats[i].SRA + "<br>" + stats[i].exercise + "% Exercise" ));

  }
  var fruitsLayer=L.layerGroup(fruitsArr);

  var activeArr = [];
  for (var i=0; i<42; i++)
  {
    activeArr.push(L.circle([stats[i].lat, stats[i].long], dataVisualize(stats[i].active) , {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5 })
      .bindPopup(stats[i].SRA + "<br>" + stats[i].exercise + "% Exercise" ));

  }
  var activeLayer=L.layerGroup(activeArr);

  
  //exagerates the data for better visualization 
  function dataVisualize(radius)
  {
    return (radius - 10)*200;  //starting out with 10 but should update later with a min value function
  }

